.lead__subtitle {
  margin: 0 auto 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  text-align: center;
}

@media  (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media  (max-width: 768px) {
  .lead__subtitle {
    width: 82%;
    line-height: 1.2;
  }
}

@media (max-width: 768px) and (min-width: 321px) {
  .lead__subtitle {
      font-size: calc(1rem + 14 * (100vw - 320px) / 448);
  }
}

@media  (max-width: 320px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
