.two-columns__link-container {
  align-self: end;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .two-columns__link-container {
    margin-bottom: 12.4%;
  }
}

@media (max-width: 320px) {
  .two-columns__link-container {
    margin: 0 0 32px 16px;
  }
}
